{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": [
		"@typescript-eslint",
		"import"
	],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:prettier/recommended",
		"plugin:import/errors",
		"plugin:import/warnings"
	],
	"rules": {
		"@typescript-eslint/no-unused-vars": [
			"error",
			{
				"args": "none",
				"varsIgnorePattern": "^_"
			}
		],
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/explicit-function-return-type": "warn",
		"prefer-const": "error",
		"no-console": "warn",
		"comma-dangle": [
			"error",
			"always-multiline"
		],
		"@typescript-eslint/naming-convention": [
			"warn",
			{
				"selector": "interface",
				"format": [
					"PascalCase"
				],
				"custom": {
					"regex": "^I[A-Z]",
					"match": true
				}
			},
			{
				"selector": "typeAlias",
				"format": [
					"PascalCase"
				],
				"custom": {
					"regex": "^T[A-Z]",
					"match": true
				}
			}
		],
		"import/order": [
			"error",
			{
				"groups": [
					"builtin",
					"external",
					"internal",
					"parent",
					"sibling",
					"index",
					"object",
					"type"
				],
				"newlines-between": "always",
				"pathGroups": [
					{
						"pattern": "~/**",
						"group": "internal"
					},
					{
						"pattern": "~libs/**",
						"group": "internal",
						"position": "before"
					}
				]
			}
		],
		"import/no-unresolved": "off",
		"import/named": "off",
		"prettier/prettier": [
			"error",
			{
				"singleQuote": true,
				"useTabs": true,
				"semi": true,
				"trailingComma": "es5",
				"bracketSpacing": true,
				"printWidth": 100,
				"endOfLine": "auto",
				"arrowParens": "always",
				"singleAttributePerLine": true
			}
		]
	}
}