.popup {
    width: 320px;
    padding: 12px 5px;
    
    &_header {
        display: flex;
        justify-content: flex-end;
        border-bottom: 2px solid #dde2e7;
        padding-bottom: 12px;
        margin-bottom: 12px;
    }

    &_extButton {
        width: 100%;
        margin-bottom: 8px;
    }
 }